body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

.cart-container {
    height: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0c0c3d;
}

.cart-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left-column {
    width: 80%;
    background-color: #ffffff;
    padding: 20px;
}

.right-column {
    width: 30%;
    background-color: #0c0c3d;
    color: #ffffff;
    padding: 20px;
}

.cart-items {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    display: table-row;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-info img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.product-details a {
    color: #0c0c3d;
    text-decoration: none;
    font-weight: bold;
}

.product-details a:hover {
    color: #e91e63;
}

.actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.continue-btn {
    background-color: #0c0c3d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.continue-btn:hover {
    background-color: #0a0a33;
}

.icon-delete {
    color: red;
    font-size: 1.2em;
    margin-left: 5px;
    transition: color 0.3s ease-in-out;
}

.icon-delete:hover {
    color: #0c0c3d;
}

.total {
    font-size: 1.2em;
    text-align: center;
    margin: 100px 0 0 20px;
}

.checkout {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: white;
    color: #0c0c3d;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    background-color: #f4f4f4;
}

