* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f9f8f8;
    color: #0c0c3d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

h1 {
    color: #0c0c3d;
    text-align: center;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #0c0c3d;
    opacity: 0.85;
    transition: transform 0.3s ease;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h2 {
    color: #0c0c3d;
    text-align: center;
}

label {
    color: #0c0c3d;
}

input {
    width: 100%;
    padding: 6px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-btn {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #0c0c3d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #333;
}

table {
    width: 100%;
    margin-bottom: 15px;
}

td {
    padding: 6px;
}

.options {
    margin-bottom: 8px;
}

