* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.products,
.promotions,
.news {
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 100px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.products h2,
.promotions h2,
.news h2 {
    color: #0c0c3d;
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.products p,
.promotions p,
.news p {
    color: #333;
    line-height: 1.6;
}

.products a,
.promotions a,
.news a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.products a:hover,
.promotions a:hover,
.news a:hover {
    color: #0056b3;
}
