.container {
    width: 90%;
    margin: 40px auto;
    padding: 50px;
}

.title {
    font-size: 36px;
    color: #0c0c3d;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 40px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.filters label {
    font-size: 16px;
    font-weight: 600;
    color: #9A073D;
}

.filters select {
    padding: 6px 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #fff;
    color: #0c0c3d;
    transition: all 0.3s ease;
}

.filters select:hover {
    border-color: #9A073D;
}

.filters .download-invoice {
    background-color: #9A073D;
    color: #fff;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.filters .download-invoice:hover {
    background-color: #7A052F;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #0c0c3d;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
}

td {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
}

.product-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.product-item {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 30px;
}

.product-name{
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}



.status[data-status="Подтверждено"] {
    color: #4CAF50;
}

.status[data-status="Оформлено"] {
    color: #FF9800;
}

.status[data-status="Отменено"] {
    color: #F44336;
}



.total, .date, .status {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.order-item:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .container {
        padding: 30px;
    }

    .title {
        font-size: 30px;
    }

    .filters {
        flex-direction: column;
        gap: 15px;
    }

    th, td {
        font-size: 14px;
    }

    .filters select, .filters .download-invoice {
        width: 100%;
    }
}



