/* Общие стили */
body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

/* Меню */
.menu-icon {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #4f4f4f;
    font-size: 22px;
    font-weight: bold;
}

.menu-icon i {
    font-size: 22px;
    cursor: pointer;
}

.menu-icon span {
    font-size: 17px;
    font-weight: 500;
    font-family: "Montserrat Light", sans-serif;
}

/* Логотип */
.logo {
    font-size: 34px;
    font-weight: bold;
    font-family: "Inter Semi Bold", sans-serif;
    color: #0c0c3d;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Иконки */
.icons-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-link {
    color: #545454;
    font-size: 22px;
    text-decoration: none;
}

.icon-link:hover {
    color: #0c0c3d;
}



.authorization-container {
    display: flex;
    align-items: center;
}

.authorization-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #0c0c3d;
    background-color: white;
    color: #0c0c3d;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-left: 10px;
}

.authorization-button:hover {
    background-color: #0c0c3d;
    color: #fff;
}

.authorization-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(12, 12, 61, 0.3);
}