* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.logo {
    font-weight: 710;
    text-decoration: none;
    margin-right: auto;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #0c0c3d;
    transition: color 0.3s ease;
}

.burger-menu {
    display: none; /* Скрываем кнопку бургер меню на больших экранах */
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.navbar {
    display: flex;
    margin-right: auto;
}

.navbar a {
    padding: 25px;
    text-decoration: none;
    color: #0c0c3d;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: tan;
}

.icons-container {
    display: flex;
    align-items: center;
}

.user-icon, .cart-icon {
    color: #0c0c3d;
    opacity: 0.85;
    font-size: 30px;
    margin-right: 15px;
    padding-left: 20px;
    transition: transform 0.3s ease;
}

.user-icon:hover, .cart-icon:hover {
    transform: scale(1.1);
}

.authorization-container {
    display: flex;
    align-items: center;
}

.authorization-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #0c0c3d;
    background-color: transparent;
    color: #0c0c3d;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-left: 10px;
}

.authorization-button:hover {
    background-color: #0c0c3d;
    color: #fff;
}

.authorization-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(12, 12, 61, 0.3);
}