body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-panel{
    margin-bottom: 20px;
}
.product-container {
    display: flex;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #ddd;
}

.left-column {
    width: 50%;
    position: relative;
}

.right-column {
    width: 50%;
    margin-right: 20px;
}

.img {
    width: 600px;
    height: 550px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 30px;
}
.description-zone{
    width: 100%;
}
.description-container {
    padding: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-div {
    width: 400px;
    font-size: 14px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}


.product-characteristics {
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    z-index: 999
}

.characteristics-table {
    width: 100%;
    border: 1px solid #0c0c3d;
    justify-content: center;
}

.characteristics-table th,
.characteristics-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #0c0c3d;
}

.characteristics-table thead th {
    background-color: #0c0c3d;
    color: #ffffff;
    font-weight: bold;
}

.characteristics-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.characteristics-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.characteristics-table tbody td {
    color: #0c0c3d;
}


/* Скрыть характеристики по умолчанию */
.product-characteristics {
     position: absolute;
     top: 0;
     right: -100%; /* Начальное положение за пределами видимости */
     width: 100%;
     background-color: #fff;
     padding: 20px;
     transition: right 0.6s ease; /* Анимация смещения с использованием кривой Безье */
 }

.character-btn {
    margin-bottom: auto;
    position: relative;
    display: inline-block;
    right: -50%;
    padding-bottom: 15px;
}

.character-btn a {
    color: #0c0c3d;
    font-size: 20px;
    cursor: pointer;
}

/* Анимация плавного появления характеристик */
.product-characteristics.show-characteristics {
    right: 0; /* Показать характеристики */
}

/* Показать характеристики при активации */
.show-characteristics {
    display: block;
}


/*Имя продукта*/
.product-name {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
/*Цена*/
.price {
    font-size: 20px;
    color: #0c0c3d;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.cart-container{
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}
.quantity-block{
    align-items: center;
}
.number {
    user-select: none;
    position: relative;
    text-align: left;
    padding: 0;
    width: 140px;
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 20px;
}
.number-minus, .number-plus {
    position: absolute;
    top: 0;
    width: 40px;
    height: 32px;
    line-height: 32px;
    display: block;
    background: #faf4f2;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #0c0c3d;
    text-decoration: none;
}
.number-minus {
    left: 0;
    border-right: 1px solid #ddd;
}
.number-plus {
    right: 0;
    border-left: 1px solid #ddd;
}
.number-minus:hover, .number-plus:hover {
    background: #fffcfb;
}
.number-minus:active, .number-plus:active {
    background: #e8e4e2;
}
.number-text{
    display: inline-block;
    font-size: 14px;
    color: #000;
    line-height: 32px;
    height: 32px;
    padding: 0;
    margin: 0 0 0 42px;
    background: #fff;
    outline: none;
    border: none;
    width: 57px;
    text-align: center;
}
.add-to-cart {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #0c0c3d;
    background-color: transparent;
    color: #0c0c3d;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-bottom: 20px;
}

.add-to-cart:hover {
    background-color: #0c0c3d;
    color: #fff;
}

.add-to-cart:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(12, 12, 61, 0.3);
}

.icon-container {
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}

.toggle-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: #0c0c3d;
}

/*Отзывы*/
.star-rating {
    direction: rtl;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 30px;
    color: #ccc;
    padding: 0 5px;
    cursor: pointer;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5c518;
}

.star-rating input:checked + label:hover,
.star-rating input:checked ~ label:hover,
.star-rating input:checked ~ label:hover ~ label,
.star-rating input:checked ~ label:hover ~ input:checked ~ label {
    color: #e8b623;
}

.reviews {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.reviews h3 {
    font-size: 24px;
    color: #0c0c3d;
    margin-bottom: 5px;
    padding: 20px;
}

.reviews a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #0c0c3d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.reviews-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reviews-list li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviews-list li strong {
    font-size: 16px;
    color: #0c0c3d;
}

.reviews-list li span {
    font-size: 14px;
    color: #333;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.reviews-list li:nth-child(odd) {
    background-color: #f0f0f0;
}

.reviews-list li:nth-child(even) {
    background-color: #fff;
}
.review-rating {
    display: flex;
    margin-top: 5px;
}

.review-rating .fa-star {
    font-size: 20px;
    color: #f5c518;
}

.review-rating .fa-regular {
    color: #f5c518;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.comment-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.comment-form h3 {
    font-size: 24px;
    color: #0c0c3d;
    margin-bottom: 20px;
    text-align: center;
}

.comment-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #0c0c3d;
}
.comment-text{
    font-size: 20px;
}
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0c0c3d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.comment-form button:hover {
    background-color: #333;
}




