body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.left-column {
    width: 60%;
    position: relative;
}

.right-column {
    width: 40%;
    margin-right: 20px;
}

.img {
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.description-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.description-div {
    width: 400px;
    font-size: 14px;
}

.product-name {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.price {
    font-size: 20px;
    color: #0c0c3d;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}


.mini-product-card{
    width: 30%;
}
/* Стили для блока характеристик */
.characteristics {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
}

.characteristics h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    color: #0c0c3d;
}

.characteristics .options-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.characteristics .option-item {
    background-color: #f0f0f0;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 1em;
    transition: background 0.3s ease-in-out;
}

.characteristics .option-item:hover {
    background-color: #e0e0e0;
}

.add-to-cart {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #0c0c3d;
    background-color: transparent;
    color: #0c0c3d;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-bottom: 20px;
}

.add-to-cart:hover {
    background-color: #0c0c3d;
    color: #fff;
}

.add-to-cart:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(12, 12, 61, 0.3);
}








/* Стили комментариев и отзывов */
.review {
    position: relative;
    padding-top: 100px;
}

.comment-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.comment-form h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0c0c3d;
}

.comment-form label {
    margin-bottom: 8px;
    color: #0c0c3d;
    font-weight: bold;
}

.comment-form input[type="text"],
.comment-form textarea,
.comment-form select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%; /* Установка ширины на 100% */
    box-sizing: border-box; /* Учитываем padding в общей ширине */
}

.comment-form select {
    appearance: none; /* Убираем стандартные стили для выпадающего списка */
}

.comment-form .star-rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.comment-form .star-rating label {
    font-size: 1.2em;
    margin-right: 10px;
}

.comment-form button[type="submit"] {
    padding: 12px 24px;
    background-color: #0c0c3d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

.comment-form button[type="submit"]:hover {
    background-color: #27ae60;
}

/* Стили списка отзывов */
.reviews-list {
    list-style: none;
    padding: 0;
}

.reviews-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.reviews-list li strong {
    font-weight: bold;
    color: #0c0c3d;
}


