* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f9f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.catalog-body {
    margin-top: 120px;
    display: flex;
}

.filter-container {
    width: 20%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-container {
    width: 80%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    width: calc(25% - 20px);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.product-card a {
    text-decoration: none;
    color: #0c0c3d;
    font-weight: bold;
    display: block;
}

.product-card .price {
    color: #e91e63;
    font-weight: bold;
    margin-top: auto;
}

.product-card .category {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    font-size: 0.9em;
    opacity: 0.7;
    color: #333;
}

.product-card .product-name {
    flex: 1;
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    opacity: 0.7;
}

input[type="number"],
select {
    padding: 8px;
    border: 1px solid #ccc;
}

.filter-btn {
    padding: 10px 20px;
    border: none;
    background-color: #0c0c3d;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #333;
}

.category-label {
    margin-right: 10px;
}

button:hover {
    background-color: #333;
}