<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/cart.css}">
    <link rel="stylesheet" th:href="@{/navbar.css}">
    <title>Корзина</title>
</head>
<body>
<div th:insert="~{navbar :: navigation-panel}"></div>
<div class="cart-container">
    <h1>Корзина</h1>
    <table class="cart-table">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Итого</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <td th:text="${cartItem.product.name}">Название</td>
            <td>
                <input type="number" min="1" max="100" step="1" th:value="${cartItem.quantity}" onchange="updatePrice(this, '${cartItem.product.price}', '${cartItem.id}')">
            </td>
            <td><span th:text="${cartItem.product.price}" class="product-price"></span> KZT</td>
            <td><span th:text="${cartItem.quantity * cartItem.product.price}" class="total-price"></span> KZT</td>
            <td>
                <form th:action="@{/cart/delete}" method="post">
                    <input type="hidden" name="id" th:value="${cartItem.id}">
                    <button type="submit" class="icon-delete"><i class="fa-regular fa-trash-can"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
<!--    TODO:-->
<!--    <div class="clear-btn">-->
<!--        <a th:href="@{'/cart/clearAll'}">Очистить все</a>-->
<!--    </div>-->
    <div class="total">
        Итого: <span id="grand-total">0.00</span> KZT
    </div>
    <div class="actions">
        <a th:href="@{'/checkout'}" class="btn">Оформить заказ</a>
        <a th:href="@{'/main'}" class="btn">Продолжить покупки</a>
    </div>
</div>
<script src="https://kit.fontawesome.com/176ce5fa08.js" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var quantityInputs = document.querySelectorAll('input[type="number"]');
        quantityInputs.forEach(function (input) {
            input.addEventListener("change", function () {
                updatePrice(input);
            });
        });

        calculateTotal();

        function updatePrice(input) {
            var quantity = parseInt(input.value);
            var priceElement = input.parentElement.nextElementSibling.querySelector('.product-price');
            var totalPriceElement = input.parentElement.nextElementSibling.nextElementSibling.querySelector('.total-price');
            var price = parseInt(priceElement.textContent);
            var totalPrice = quantity * price;
            totalPriceElement.textContent = totalPrice.toFixed(0);

            calculateTotal();
        }

        function calculateTotal() {
            var grandTotal = 0;
            var totalElements = document.querySelectorAll('.total-price');
            totalElements.forEach(function (element) {
                grandTotal += parseInt(element.textContent);
            });
            document.getElementById('grand-total').textContent = grandTotal.toFixed(0); // Изменили с .toFixed(2) на .toFixed(0) для целых чисел
        }
    });

</script>
</body>
</html>






