<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/categoryList.css}">
    <link rel="stylesheet" th:href="@{/navbar.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
    <title>Categories List</title>
</head>
<body>
<div th:insert="~{navbar :: navigation-panel}" class="navigation-panel"></div>
    <div class="container">
        <h1>Список категорий</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.id}"></td>
                <td th:text="${category.name}"></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{'/categories/create'}" class="add-product-btn"><i class="fas fa-plus"></i></a>
    </div>
    <div th:insert="~{footer :: footer-code}"></div>
    <script src="https://kit.fontawesome.com/176ce5fa08.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/navbar-component.js}" defer></script>
</body>
</html>
