<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Оформление заказа</title>
    <link rel="stylesheet" th:href="@{/checkout.css}">
    <link rel="stylesheet" th:href="@{/navbar.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<div th:insert="~{navbar :: navigation-panel}" class="navigation-panel"></div>
<section class="checkout-container">
    <header>
        <h1>Оформление заказа</h1>
    </header>
    <div class="order-summary">
        <h2>Сводка заказа</h2>
        <ul class="order-items">
            <li th:each="item : ${orderItems}">
                <span th:text="${item.product.name}"></span>
                <span th:text="${item.quantity} + ' шт.'"></span>
                <span th:text="${item.product.price * item.quantity} + ' ₸'"></span>
            </li>
        </ul>
        <div class="total-price">
            <span>Итого:</span>
            <span th:text="${totalPrice} + ' ₸'"></span>
        </div>
    </div>
    <div class="customer-info">
        <h2>Информация о покупателе</h2>
        <form th:action="@{/checkout}" method="post">
            <input type="hidden" name="orderId" th:value="${order != null ? order.id : ''}" /> <!-- Обработка возможного значения null для order -->
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" id="name" name="name" th:value="${user != null ? user.name : ''}" required>
            </div>
            <div class="form-group">
                <label for="surname">Фамилия</label>
                <input type="text" id="surname" name="surname" th:value="${user != null ? user.surname : ''}" required>
            </div>
            <div class="form-group">
                <label for="address">Адрес доставки</label>
                <input type="text" id="address" name="address" required>
            </div>
            <button type="submit" class="submit-order">Заказать</button>
        </form>
    </div>
</section>
</body>
</html>


