<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="get" action="#" th:action="@{/products}" th:fragment="filter-div">
        <label for="minPrice">Минимальная цена:</label>
        <input type="number" id="minPrice" name="minPrice" step="100" min="0" th:value="${param.minPrice}">

        <label for="maxPrice">Максимальная цена:</label>
        <input type="number" id="maxPrice" name="maxPrice" step="100" min="0" th:value="${param.maxPrice}">

        <label for="categoryId" class="category-label">Категория:</label>
        <select id="categoryId" name="categoryId" class="category">
            <option value="">Все</option>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.getName()}"
                    th:selected="${category.id == selectedCategoryId}">
            </option>
        </select>
        <button type="submit" class="filter-btn">Фильтр</button>
    </form>
</body>
</html>