<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer class="footer" th:fragment="footer-code">
        <div class="footer-content">
            <div class="footer-left">
                <h3>ПОМОЩЬ</h3>
                <ul class="footer-links">
                    <li class="list"><a class="ssylka" href="#">Как сделать заказ</a></li>
                    <li class="list"><a class="ssylka" href="#">Таблица размеров</a></li>
                    <li class="list"><a class="ssylka" href="#">Часто задаваемые вопросы</a></li>
                    <li class="list"><a class="ssylka" href="#">Условия использования</a></li>
                    <li class="list"><a class="ssylka" href="#">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div class="footer-middle">
                <h3>ДОСТАВКА И ВОЗВРАТ</h3>
                <ul class="footer-links">
                    <li class="list"><a class="ssylka" href="#">Информация о доставке</a></li>
                    <li class="list"><a class="ssylka" href="#">Отслеживание заказа</a></li>
                    <li class="list"><a class="ssylka" href="#">Условия доставки и возврата</a></li>
                </ul>
            </div>
            <div class="footer-services">
                <h3>УСЛУГИ</h3>
                <ul class="footer-links">
                    <li class="list"><a class="ssylka" href="#">Поддержка заказа</a></li>
                    <li class="list"><a class="ssylka" href="#">Гарантия качества</a></li>
                    <li class="list"><a class="ssylka" href="#">Проверка заказа</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <h3>СОЦИАЛЬНЫЕ СЕТИ</h3>
                <div class="footer-social">
                    <a class="ssylka" href="#">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 30 30">
                                <path d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"></path>
                            </svg>
                        </i>
                    </a>
                    <a class="ssylka" href="#">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
                                <path d="M41,4H9C6.243,4,4,6.243,4,9v32c0,2.757,2.243,5,5,5h32c2.757,0,5-2.243,5-5V9C46,6.243,43.757,4,41,4z M37.006,22.323 c-0.227,0.021-0.457,0.035-0.69,0.035c-2.623,0-4.928-1.349-6.269-3.388c0,5.349,0,11.435,0,11.537c0,4.709-3.818,8.527-8.527,8.527 s-8.527-3.818-8.527-8.527s3.818-8.527,8.527-8.527c0.178,0,0.352,0.016,0.527,0.027v4.202c-0.175-0.021-0.347-0.053-0.527-0.053 c-2.404,0-4.352,1.948-4.352,4.352s1.948,4.352,4.352,4.352s4.527-1.894,4.527-4.298c0-0.095,0.042-19.594,0.042-19.594h4.016 c0.378,3.591,3.277,6.425,6.901,6.685V22.323z"></path>
                            </svg>
                        </i>
                    </a>
                    <a class="ssylka" href="#">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 64 64">
                                <path d="M 21.580078 7 C 13.541078 7 7 13.544938 7 21.585938 L 7 42.417969 C 7 50.457969 13.544938 57 21.585938 57 L 42.417969 57 C 50.457969 57 57 50.455062 57 42.414062 L 57 21.580078 C 57 13.541078 50.455062 7 42.414062 7 L 21.580078 7 z M 47 15 C 48.104 15 49 15.896 49 17 C 49 18.104 48.104 19 47 19 C 45.896 19 45 18.104 45 17 C 45 15.896 45.896 15 47 15 z M 32 19 C 39.17 19 45 24.83 45 32 C 45 39.17 39.169 45 32 45 C 24.83 45 19 39.169 19 32 C 19 24.831 24.83 19 32 19 z M 32 23 C 27.029 23 23 27.029 23 32 C 23 36.971 27.029 41 32 41 C 36.971 41 41 36.971 41 32 C 41 27.029 36.971 23 32 23 z"></path>
                            </svg>
                        </i>
                    </a>
                </div>
            </div>
            <div class="footer-bottom">
                <p class="footer-text">© 2024 LUXDRM. Все права защищены.</p>
            </div>
        </div>
    </footer>
</body>
</html>