<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои Заказы</title>
    <link rel="stylesheet" th:href="@{/myOrders.css}">
</head>
<body>
<div class="order-container">
    <h1 class="myCart">Мои Заказы</h1>
    <div class="order-list">
        <table>
            <thead>
            <tr class="orders-param">
                <th class="product-param">Продукт</th>
                <th class="status-param">Статус</th>
                <th class="date-param">Дата оформления</th>
            </tr>
            </thead>
            <tbody>
            <!-- Добавьте строки для каждого заказа -->
            <tr th:each="order : ${orders}" class="order-item">
                <td>
                    <ul>
                        <li th:each="orderProduct : ${order.orderProducts}" class="order-product">
                            <span th:text="${orderProduct.product.name + ' x' + orderProduct.quantity}"></span>
                        </li>
                    </ul>
                </td>
                <td th:text="${order.status}" class="order-status"></td>
                <td th:text="${order.date}" class="order-date"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>









