<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar code</title>
</head>
<body>
<header class="header" th:fragment="navigation-panel">
    <a href="#" class="logo">LuxDRM</a>
    <nav class="navbar">
        <a th:href="@{/main}">Главная</a>
        <a href="#">О нас</a>
        <a th:href="@{/products}">Каталог</a>
        <a href="#">Поддержка</a>
    </nav>
    <div th:if="${#authorization.expression('isAuthenticated()')}" class="search-container">
        <form>
            <input type="text" placeholder="Поиск..." class="search-input">
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
        <a href="#" class="user-icon">
            <i class="fas fa-user-circle"></i>
        </a>
    </div>
    <div th:unless="${#authorization.expression('isAuthenticated()')}" class="user-icon-container">
        <a th:href="@{/login}" class="authorization-button">Войти</a>
        <a th:href="@{/register}" class="authorization-button">Регистрация</a>
    </div>
</header>
</body>
</html>