<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar code</title>
    <script src="https://kit.fontawesome.com/176ce5fa08.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header" th:fragment="navigation-panel">
    <a href="#" class="logo">LuxDRM</a>
    <nav class="navbar">
        <a th:href="@{/main}">Главная</a>
        <a href="#">О нас</a>
        <a th:href="@{/products}">Каталог</a>
        <a href="#">Поддержка</a>
    </nav>
    <div th:if="${#authorization.expression('isAuthenticated()')}" class="user-container">
        <div class="user-icon">
            <i class="fas fa-user toggle-icon open-icon" id="toggleIcon" onclick="togglePanel()"></i>
        </div>
    </div>
    <div th:unless="${#authorization.expression('isAuthenticated()')}" class="authorization-container">
        <a th:href="@{/login}" class="authorization-button">Войти</a>
        <a th:href="@{/register}" class="authorization-button">Регистрация</a>
    </div>
</header>
</body>
</html>



