<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/createForm.css}">
  <title>Создание товара</title>
</head>
<body>
  <div class="container">
    <h1>Создание товара</h1>
    <h2 th:text="${category.getName()}"></h2>
    <form action="/products/create" th:object="${product}" method="post" class="form">
      <input type="hidden" name="categoryId" th:value="${category.getId()}">
      <input type="hidden" th:field="*{id}">
      <label>Название:</label>
      <input id="name" name="name">
      <br>
      <label>Цена:</label>
      <input id="price" name="price">
      <label>Описание</label>
      <input id="description" name="description">
      <br>
      <label>Характеристики:</label>
      <table>
        <tr th:each="option : ${category.getOptionList()}" class="options">
          <input type="hidden" name="optionsIds" th:value="${option.id}">
          <td><label th:text="${option.name}"></label></td>
          <td><input name="values"></td>
        </tr>
      </table>
      <label for="imageUrl">
        URL изображения товара
        <input id="imageUrl" name="imageUrl">
      </label>
      <input type="submit" value="Создать" class="create-btn">
    </form>
  </div>
</body>
</html>

