<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница продукта</title>
    <link rel="stylesheet" th:href="@{/product.css}">
    <link rel="stylesheet" th:href="@{/navbar.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
<!--    <link rel="stylesheet" th:href="@{/userPanel.css}">-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div th:insert="~{navbar :: navigation-panel}" class="navigation-panel"></div>
</header>
<main class="product-container">

    <!-- Product Images Gallery -->
    <div class="product-gallery">
        <div class="thumbnail-column">
            <ul>
                <li th:each="image, iterStat : ${product.images}"
                    onclick="changeMainImage(this)">
                    <img th:src="${image.image}" alt="Product Thumbnail" class="thumbnail-img">
                </li>
            </ul>
        </div>
        <div class="main-image">
            <img id="mainImage" th:src="${product.images[0].image}" alt="Main Product Image" class="large-img">
        </div>
    </div>

    <div class="right-column">
        <div class="description-zone">
            <div class="product-top">
                <div class="product-name-container">
                    <span th:text="${product.category.name}" class="category"></span>
                    <div class="product-info" th:if="${product.discount > 0}">
                        <!-- Знак верификации качества -->
                        <div class="quality-verification">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
                                <polygon fill="#42a5f5" points="29.62,3 33.053,8.308 39.367,8.624 39.686,14.937 44.997,18.367 42.116,23.995 45,29.62 39.692,33.053 39.376,39.367 33.063,39.686 29.633,44.997 24.005,42.116 18.38,45 14.947,39.692 8.633,39.376 8.314,33.063 3.003,29.633 5.884,24.005 3,18.38 8.308,14.947 8.624,8.633 14.937,8.314 18.367,3.003 23.995,5.884"></polygon><polygon fill="#fff" points="21.396,31.255 14.899,24.76 17.021,22.639 21.428,27.046 30.996,17.772 33.084,19.926"></polygon>
                            </svg>
                        </div>
                        <h1 th:text="${product.name}" class="product-name">Название товара</h1>
                        <span class="discount-percentage" th:text="${product.discount + '%'}">Скидка</span>
                    </div>
                    <div class="product-info" th:unless="${product.discount > 0}">
                        <!-- Знак верификации качества -->
                        <div class="quality-verification">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
                                <polygon fill="#42a5f5" points="29.62,3 33.053,8.308 39.367,8.624 39.686,14.937 44.997,18.367 42.116,23.995 45,29.62 39.692,33.053 39.376,39.367 33.063,39.686 29.633,44.997 24.005,42.116 18.38,45 14.947,39.692 8.633,39.376 8.314,33.063 3.003,29.633 5.884,24.005 3,18.38 8.308,14.947 8.624,8.633 14.937,8.314 18.367,3.003 23.995,5.884"></polygon><polygon fill="#fff" points="21.396,31.255 14.899,24.76 17.021,22.639 21.428,27.046 30.996,17.772 33.084,19.926"></polygon>
                            </svg>
                        </div>
                        <h1 th:text="${product.name}" class="product-name">Название товара</h1>
                    </div>
                    <!-- Звезды для рейтинга -->
                    <div class="product-rating">
                        <div class="stars">
                            <span th:each="i : ${#numbers.sequence(1, 5)}" class="star" th:classappend="${i <= (product.rating != null ? (product.rating < 4.0 ? 4.0 : product.rating) : 4.0) ? ' filled' : ''}">&#9733;</span>
                        </div>
                        <!-- Рейтинг в формате 4.0/5.0 -->
                        <span class="rating-value" th:text="${product.rating != null ? (product.rating < 4.0 ? 4.0 : product.rating) : 4.0} + '/5.0'">4.0/5.0</span>
                    </div>
                    <div class="discount" th:if="${product.discount > 0}">
                        <span class="price" th:text="${product.price - product.price * product.discount / 100}" id="formattedDiscountPrice">Цена со скидкой</span>
                        <span class="original-price" th:text="${product.price}" id="formattedOriginalPrice">Цена</span>
                    </div>
                    <div th:unless="${product.discount > 0}">
                        <p th:text="${product.price}" class="price" id="formattedPrice">Цена</p>
                    </div>
                </div>
            </div>
            <div class="product-mobile-image">
                <!--Добавляется div-image-->
            </div>
            <!-- Форма добавления в корзину -->
            <div class="product-bottom">
                <form class="add-to-cart-form" th:action="@{|/cart/${product.getId()}|}" method="post">
                    <div class="sizes-container">
                        <span class="size-label">Размер</span>
                        <div class="sizes-options">
                            <div th:each="size, iterStat : ${sizes}" class="size-option">
                                <div th:text="${size.size}" class="size-label-btn" onclick="selectSize(this, '${size.size}')"></div>
                            </div>
                        </div>
                        <input type="hidden" name="size" id="selected-size">
                    </div>
                    <div class="cart-container">
                        <div class="quantity-block">
                            <label class="quantity">Кол-во</label>
                            <div class="number" data-step="1" data-min="1" data-max="20">
                                <a class="number-minus" onclick="decrement()">−</a>
                                <input class="number-text" type="text" name="quantity" value="1">
                                <a class="number-plus" onclick="increment()">+</a>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="add-to-cart">Добавить в корзину</button>
                </form>
            </div>
        </div>
    </div>
</main>
<div class="tabs-container">
    <p class="tab-button active" data-tab="description">Описание</p>
    <p class="tab-button" data-tab="characteristics">Характеристики</p>
    <p class="tab-button" data-tab="reviews">Отзывы</p>
</div>
<div class="tab-content">
    <!-- Описание -->
    <div class="tab-section active" id="description-section">
        <p th:text="${product.description}" class="description-text">Product Description</p>
    </div>

    <!-- Характеристики -->
    <div class="tab-section" id="characteristics-section">
        <table class="characteristics-table">
            <thead>
            <tr>
                <th>Характеристика</th>
                <th>Значение</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${options}">
                <td th:text="${entry.getKey().getName()}">Характеристика</td>
                <td th:text="${entry.getValue().isPresent() ? entry.getValue().get().name : 'Не указано'}">Значение</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Отзывы -->
    <div class="tab-section" id="reviews-section">
        <ul class="reviews-list">
            <li th:each="review : ${reviews}">
                <div class="review-header">
                    <strong th:text="${review.getUser().getName()}">Имя пользователя</strong>
                    <div class="review-rating">
                        <i class="fa-regular fa-star" th:classappend="${review.getEstimation() >= 1 ? ' fa-solid' : ''}"></i>
                        <i class="fa-regular fa-star" th:classappend="${review.getEstimation() >= 2 ? ' fa-solid' : ''}"></i>
                        <i class="fa-regular fa-star" th:classappend="${review.getEstimation() >= 3 ? ' fa-solid' : ''}"></i>
                        <i class="fa-regular fa-star" th:classappend="${review.getEstimation() >= 4 ? ' fa-solid' : ''}"></i>
                        <i class="fa-regular fa-star" th:classappend="${review.getEstimation() == 5 ? ' fa-solid' : ''}"></i>
                    </div>
                </div>
                <p th:text="${review.getText()}" class="comment-text"></p>
            </li>
        </ul>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <a id="openModalBtn" class="add-review-btn">Добавить отзыв</a>
        </div>
        <div th:unless="${#authorization.expression('isAuthenticated()')}">
            <p class="login-prompt">Чтобы оставить отзыв необходимо <a th:href="@{/login}">авторизоваться</a></p>
        </div>
    </div>
    <!-- Отзывы -->

</div>
<main class="products-section">
    <section id="product-section">
        <div class="products-section-header">
            <h2 class="products-section-topic">Похожие товары</h2>
        </div>
        <div class="products-section-container">
            <div th:each="product : ${products}" class="products-section-card">
                <a th:href="@{'/products/' + ${product.getId()}}" class="products-section-link">
                    <!-- Скидка сверху -->
                    <div class="discount-znak" th:text="${product.discount != null ? product.discount + '%' : ''}" th:if="${product.discount != null && product.discount > 0}"></div>
                    <img th:src="${product.getImages().get(0).image}" alt="product-img" class="products-section-img">
                    <div class="products-section-info">
                        <p class="products-section-name" th:text="${product.getName()}"></p>
                        <p class="products-section-price" th:text="${product.getPrice()} + ' тг'"></p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>

<div id="commentModal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div th:class="comment-form">
            <h3 class="comment-add-text">Добавить отзыв</h3>
            <form th:action="@{/products/addComment}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="productId" th:value="${product.id}">
                <input type="hidden" name="userId" th:value="${user.id}">
                <div>
                    <label th:for="estimation">Оценка:</label>
                    <div class="star-rating">
                        <input type="radio" name="estimation" id="star5" value="5" required>
                        <label for="star5" title="5 stars"><i class="fa-regular fa-star"></i></label>
                        <input type="radio" name="estimation" id="star4" value="4">
                        <label for="star4" title="4 stars"><i class="fa-regular fa-star"></i></label>
                        <input type="radio" name="estimation" id="star3" value="3">
                        <label for="star3" title="3 stars"><i class="fa-regular fa-star"></i></label>
                        <input type="radio" name="estimation" id="star2" value="2">
                        <label for="star2" title="2 stars"><i class="fa-regular fa-star"></i></label>
                        <input type="radio" name="estimation" id="star1" value="1">
                        <label for="star1" title="1 star"><i class="fa-regular fa-star"></i></label>
                    </div>
                </div>
                <div>
                    <label for="comment">Текст отзыва:</label>
                    <textarea name="comment" id="comment" placeholder="Текст комментария" required></textarea>
                </div>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{footer :: footer-code}"></div>

<!--<div th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--    <div th:insert="~{userPanel :: user-panel}" id="userPanel" class="user-panel"></div>-->
<!--</div>-->
<script>
    // Modal for adding review
    document.addEventListener("DOMContentLoaded", function() {
        const modal = document.getElementById("commentModal");
        const openModalBtn = document.getElementById("openModalBtn");
        const closeModalBtn = document.querySelector(".close-btn");

        openModalBtn.onclick = function() {
            modal.style.display = "block";
        }

        closeModalBtn.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });

    function increment() {
        var input = document.querySelector('.number-text');
        var value = parseInt(input.value);
        var max = parseInt(input.parentNode.getAttribute('data-max'));
        if (value < max) {
            input.value = value + 1;
        }
    }

    function decrement() {
        var input = document.querySelector('.number-text');
        var value = parseInt(input.value);
        var min = parseInt(input.parentNode.getAttribute('data-min'));
        if (value > min) {
            input.value = value - 1;
        }
    }

    // Функция для форматирования числа с пробелами
    function formatPrice(price) {
        return price.replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    }

    // Форматируем цену со скидкой
    var discountPriceElement = document.getElementById("formattedDiscountPrice");
    if (discountPriceElement) {
        var discountPrice = discountPriceElement.innerText;
        var formattedDiscountPrice = formatPrice(discountPrice);
        discountPriceElement.innerText = formattedDiscountPrice + " ₸";
    }

    // Форматируем оригинальную цену
    var originalPriceElement = document.getElementById("formattedOriginalPrice");
    if (originalPriceElement) {
        var originalPrice = originalPriceElement.innerText;
        var formattedOriginalPrice = formatPrice(originalPrice);
        originalPriceElement.innerText = formattedOriginalPrice + " ₸";
    }

    // Форматируем цену, если нет скидки
    var priceElement = document.getElementById("formattedPrice");
    if (priceElement) {
        var price = priceElement.innerText;
        var formattedPrice = formatPrice(price);
        priceElement.innerText = formattedPrice + " ₸";
    }

    //Разделы
    document.addEventListener("DOMContentLoaded", () => {
        const buttons = document.querySelectorAll(".tab-button");
        const sections = document.querySelectorAll(".tab-section");

        buttons.forEach(button => {
            button.addEventListener("click", () => {
                // Удаляем класс active у всех кнопок и секций
                buttons.forEach(btn => btn.classList.remove("active"));
                sections.forEach(section => section.classList.remove("active"));

                // Добавляем класс active к текущей кнопке и соответствующей секции
                button.classList.add("active");
                const tabId = button.getAttribute("data-tab");
                document.getElementById(`${tabId}-section`).classList.add("active");
            });
        });
    });

    function selectSize(element) {
        // Проверяем, был ли уже выбран этот размер
        if (element.classList.contains('selected')) {
            // Если выбран, отменяем выбор
            element.classList.remove('selected');
            // Сбрасываем значение скрытого поля
            document.getElementById('selected-size').value = '';
        } else {
            // Если не выбран, добавляем класс "selected" и удаляем его с других элементов
            var allSizes = document.querySelectorAll('.size-label-btn');
            allSizes.forEach(function(size) {
                size.classList.remove('selected');
            });
            element.classList.add('selected');
            // Устанавливаем значение выбранного размера в скрытое поле
            document.getElementById('selected-size').value = element.textContent.trim();
        }
    }


    function changeMainImage(thumbnail) {
        // Получаем источник изображения из миниатюры
        var newImageSrc = thumbnail.querySelector('img').getAttribute('src');

        // Изменяем источник основного изображения
        document.getElementById('mainImage').setAttribute('src', newImageSrc);

        // Убираем активное состояние со всех миниатюр
        var allThumbnails = document.querySelectorAll('.thumbnail-column li');
        allThumbnails.forEach(function(item) {
            item.classList.remove('active');
        });

        // Добавляем активное состояние на выбранную миниатюру
        thumbnail.classList.add('active');
    }
</script>
<script>
    // Функция для открытия/закрытия боковой панели
    function togglePanel() {
        var sidebar = document.getElementById('sidebar');
        var overlay = document.getElementById('overlay');

        sidebar.classList.toggle('open');  // Открыть или закрыть панель
        overlay.classList.toggle('show');  // Показать или скрыть фон
    }
</script>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        if (window.innerWidth <= 430) {
            const gallery = document.querySelector('.product-gallery');
            const rightColumn = document.querySelector('.product-mobile-image');
            if (gallery && rightColumn) {
                // Перемещаем галерею в самый низ правой колонки
                rightColumn.appendChild(gallery);
            }
        }
    });
</script>
</body>
</html>


