<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/categoryList.css}">
    <title>Каталог</title>
</head>
<body>
    <div class="container">
        <h1>Каталог</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Категория</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.getId()}"></td>
                <td th:text="${product.getName()}"></td>
                <td th:text="${product.getPrice()}"></td>
                <td th:text="${product.category.getName()}"></td>
                <td><a th:href="@{'/products/update/' + ${product.getId()}}" class="user-icon">Редактировать</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>