<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница продукта</title>
    <link rel="stylesheet" th:href="@{/product.css}">
    <link rel="stylesheet" th:href="@{/navbar.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div th:insert="~{navbar :: navigation-panel}" class="navigation-panel"></div>
</header>
<main class="product-container">
    <div class="left-column">
        <img th:src="@{${imageUrl}}" alt="Product Image" class="img">
    </div>
    <div class="right-column">
        <div class="product-name-container">
            <span th:text="${product.category.name}"></span>
            <div class="character-btn">
                <a onclick="toggleCharacteristics()">
                    <i class="fa-solid fa-gear"></i>
                </a>
            </div>
            <h1 th:text="${product.name}" class="product-name">Название товара</h1>
            <p th:text="'Цена: ' + ${product.price} + ' ₸'" class="price">Цена</p>
        </div>
        <div class="description-container">
            <div class="description-div">
                <p th:text="${product.description}">Product Description</p>
            </div>
            <div id="characteristics" class="product-characteristics">
                <table class="characteristics-table">
                    <thead>
                    <tr>
                        <th>Характеристика</th>
                        <th>Значение</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry : ${options}">
                        <td th:text="${entry.getKey().getName()}"></td>
                        <td th:text="${entry.getValue().isPresent() ? entry.getValue().get().name : 'Не указано'}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="cart-container">
            <form th:action="@{|/cart/${product.getId()}|}" method="post">
                <div class="quantity-block">
                    <label>Кол-во</label>
                    <div class="number" data-step="1" data-min="1" data-max="20">
                        <input class="number-text" type="text" name="quantity" value="1">
                        <a class="number-minus" onclick="decrement()">−</a>
                        <a class="number-plus" onclick="increment()">+</a>
                    </div>
                </div>
                <button type="submit" class="add-to-cart">Добавить в корзину</button>
            </form>
        </div>
    </div>
</main>
<main>
    <div class="reviews">
        <h3>Отзывы:</h3>
        <a id="openModalBtn">Добавить отзыв</a>
        <ul class="reviews-list">
            <li th:each="comment : ${comments}">
                <strong th:text="${comment.getUser().getName()}"></strong><br>
                <div class="review-rating">
                    <i class="fa-regular fa-star" th:classappend="${comment.getEstimation() >= 1 ? ' fa-solid' : ''}"></i>
                    <i class="fa-regular fa-star" th:classappend="${comment.getEstimation() >= 2 ? ' fa-solid' : ''}"></i>
                    <i class="fa-regular fa-star" th:classappend="${comment.getEstimation() >= 3 ? ' fa-solid' : ''}"></i>
                    <i class="fa-regular fa-star" th:classappend="${comment.getEstimation() >= 4 ? ' fa-solid' : ''}"></i>
                    <i class="fa-regular fa-star" th:classappend="${comment.getEstimation() == 5 ? ' fa-solid' : ''}"></i>
                </div>
                <span th:text="${comment.getText()}" class="comment-text"></span>
            </li>
        </ul>
    </div>
    <div id="commentModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <div th:class="comment-form">
                <h3>Добавить отзыв</h3>
                <form th:action="@{/products/addComment}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="productId" th:value="${product.id}">
                    <input type="hidden" name="userId" th:value="${user.id}">
                    <div>
                        <label th:for="estimation">Оценка:</label>
                        <div class="star-rating">
                            <input type="radio" name="estimation" id="star5" value="5" required>
                            <label for="star5" title="5 stars"><i class="fa-regular fa-star"></i></label>
                            <input type="radio" name="estimation" id="star4" value="4">
                            <label for="star4" title="4 stars"><i class="fa-regular fa-star"></i></label>
                            <input type="radio" name="estimation" id="star3" value="3">
                            <label for="star3" title="3 stars"><i class="fa-regular fa-star"></i></label>
                            <input type="radio" name="estimation" id="star2" value="2">
                            <label for="star2" title="2 stars"><i class="fa-regular fa-star"></i></label>
                            <input type="radio" name="estimation" id="star1" value="1">
                            <label for="star1" title="1 star"><i class="fa-regular fa-star"></i></label>
                        </div>
                    </div>
                    <div>
                        <label for="comment">Текст отзыва:</label>
                        <textarea name="comment" id="comment" placeholder="Текст комментария" required></textarea>
                    </div>
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>

</main>
<script>
    function toggleCharacteristics() {
        const characteristics = document.getElementById('characteristics');
        characteristics.classList.toggle('show-characteristics');
    }
    document.addEventListener("DOMContentLoaded", function() {
        const modal = document.getElementById("commentModal");
        const openModalBtn = document.getElementById("openModalBtn");
        const closeModalBtn = document.querySelector(".close-btn");

        openModalBtn.onclick = function() {
            modal.style.display = "block";
        }

        closeModalBtn.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });
</script>
<script>
    function increment() {
        var input = document.querySelector('.number-text');
        var value = parseInt(input.value);
        var max = parseInt(input.parentNode.getAttribute('data-max'));
        if (value < max) {
            input.value = value + 1;
        }
    }

    function decrement() {
        var input = document.querySelector('.number-text');
        var value = parseInt(input.value);
        var min = parseInt(input.parentNode.getAttribute('data-min'));
        if (value > min) {
            input.value = value - 1;
        }
    }
</script>
</body>
</html>

