<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/createForm.css}">
  <title>Создание товара</title>
</head>
<body>
<div class="container">
  <h1>Создание товара</h1>
  <h2>Категория:</h2>
  <h2 th:text="${category.getName()}"></h2>
  <form action="/products/create" method="post" th:object="${product}">
    <input type="hidden" name="categoryId" th:value="${category.getId()}">

    <label for="name">
      Название товара
      <input id="name" name="name">
    </label>
    <br>
    <label for="price">
      Стоимость товара
      <input id="price" name="price">
    </label>
    <br>
    <div th:each="option : ${category.getOptionList()}" class="option-item">
      <input type="hidden" name="optionsIds" th:value="${option.id}">
      <p th:text="${option.name}"></p>
      <input name="values">
    </div>
    <button type="submit">Создать</button>
  </form>
</div>
</body>
</html>



